* {
  box-sizing: border-box;
}

body{
  background-color: aliceblue;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.div-form{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #f0f0f0; /* Cinza mais claro e suave */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}



.div-form p {
  align-self: flex-start;
  margin-bottom: 1rem;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 600px;
}

#form input,
#form textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}


#form textarea {
  height: 120px;
  resize: vertical;
}

#form select {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}